@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(243 244 246);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  animation: heartbeat 1s infinite;
}

@keyframes pressure-drop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-pressure {
  animation: pressure-drop 2s infinite;
}

@keyframes temperature-pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-temperature {
  animation: temperature-pulse 1.5s infinite;
}

@keyframes monitor-wave {
  0% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
  50% {
    transform: scaleX(1.2) translateX(-5px);
    opacity: 0.8;
  }
  100% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
}

.animate-monitor {
  animation: monitor-wave 1s infinite;
  display: inline-block;
  transform-origin: center;
}

@keyframes number-change {
  0% {
    opacity: 0.5;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-number {
  animation: number-change 0.3s ease-out;
} 